.sidebar,

.main-panel{
    background: rgba(203,203,210,.15);
    position: relative;
    float: right;
    width: 100%;
    height: 100vh;
    @media (max-width: 767.98px) {
        width: 100% !important
    }
}

.icon-search {
    @media (max-width: 767.98px) {
        width: 190px !important
    }
}

.main-panel, .navbar-fixed, .sidebar, .sidebar-wrapper, .logo-wrapper {
    -webkit-transition-property: top,bottom,width;
    -o-transition-property: top,bottom,width;
    transition-property: top,bottom,width;
    -webkit-transition-duration: .2s,.2s,.35s;
    -o-transition-duration: .2s,.2s,.35s;
    transition-duration: .2s,.2s,.35s;
    -webkit-transition-timing-function: linear,linear,ease;
    -o-transition-timing-function: linear,linear,ease;
    transition-timing-function: linear,linear,ease;
    -webkit-overflow-scrolling: touch;
}

.sidebar-overlay, .themesetting-overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
}